body {
    height:auto;
    width:auto;
    overflow:auto;

}



* {
list-style-type: none;
margin:auto;
}

.navbar {
display:flex;
align-items:center;
justify-content: space-around;
margin:0;
padding:0;
height:80px;
background-color: #1F2937;

}

.icon {

font-size:40px;
margin:0;
font-weight: bold;
color:rgb(247, 250, 249);


}

.nav-links {

display:flex;
gap:10px;
font-size:18px;
margin:0;

font-weight: bold;
color:rgb(237, 249, 255);


}

.Main {

    display: flex;
    width:100%;
    background-color: #1F2937;
    height: 300px;
    justify-content: center;
    
}

.main-title {

width:200px;
padding-bottom: 15px;
margin:0;
font-size:40px;
color:rgb(217, 224, 230);



}

.main-text {
width:500px;
flex-wrap:wrap;
margin:0;
font-size:20px;
padding-bottom: 15px;
color:whitesmoke;

}

.main-button {
 display:block;
 padding:4px 15px;
 font-size:22px;
 border-style: none;
 border-radius: 5px;
 background-color: rgb(45, 137, 248);
 color:whitesmoke;
 margin:0;

}

.img {
    display:flex;
    
}

.Info {


height:450px;
background-color: rgb(250, 251, 252);

}

.Info h2{

display:flex;
justify-content: center;
font-weight:1000px;
font-size: 34px;
margin:0;
padding:30px;



}
.squares {
    display:flex;
    flex-direction: row;
    justify-content: center;

}

.square {
    margin:0;
    margin:4%;
    width: 140px;
  height: 140px;
  border: 4px solid rgb(52, 172, 252);
  border-radius:10px;
  padding:0;
  
}

.info-text {
display:flex;
width:700px;
gap:60px;
align-items:center;




}

.square-infotext {

 display:flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 width:400px;


}

.sub-main {

display:flex;
height:200px;
background-color: #5c5c5c;
justify-content: center;
align-items: center;
color:white;
font-size:25px;
flex-wrap:wrap;
}

.sub-quote {
display:flex;
margin:0;
padding:0;
justify-content:center;
width:700px;
position:relative;

}

.sub-author {

display:flex;
font-size:20px;
margin-top:100px;
margin-right:600px;
padding:0;
position:absolute;
right:10px;


}

.ad {
display:flex;
height:200px;


}

.ad-text {

 font-size:20px;
 color:white;


}

.ad button {


font-size:15px;
background-color:#3882F6;
border: 2px solid white;
border-radius:10px;
color:white;
padding:10px 20px;
margin-left:30px;
}

.ad-bg {
  display:flex;
  padding:40px 80px;
  width:500px;
  size:500px;
 background-color: #3882F6;
 border-radius: 10px;


}

.footer {

display:flex;
align-items: center;
justify-content: center;
height:70px;
background-color:#1F2937;
color:white;



}